#sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_field {
  width: 20vw;
}

.button {
  width: 20vw;
  height: 5vh;
  border-radius: 4%;
  margin-bottom: 3vh;
  text-align: center;
  background-color: coral;
}

.button:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.08);
}

#dash_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 100%;
}

.error {
  background-color: red;
  text-decoration: underline;
}
